root = true

# Apply to C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space


#### .NET Coding Conventions ####

# Organize usings
dotnet_sort_system_directives_first = true

# Code-block preferences
csharp_style_namespace_declarations = file_scoped:warning
